$color-grayish-light-blue: hsl(233, 8%, 79%);
$color-grayish-dark-blue: hsl(236, 13%, 42%);
$color-very-dark-blue: hsl(240, 100%, 5%);

$color-soft-orange: hsl(35, 77%, 62%);
$color-soft-red: hsl(5, 85%, 63%);

$color-white: hsl(100, 100%, 98%);
$color-black: hsl(0, 0%, 8%);

//max-width
$max-screen-width: 97.2rem;
