.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;

  //CONTENT

  &__content {
    background-color: $color-white;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
  }

  &__list {
    list-style: none;
    padding: 8rem 0 0 2rem;
  }

  &__item {
    font-size: 1.7rem;
  }

  &__item:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-very-dark-blue;
    }

    &:hover,
    &:active {
      color: rgba($color-very-dark-blue, 0.7);
    }
  }
}
