*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 93.75%; // 1rem = 15px; 15px/16px = 93.75;

  @include respond(tab-land) {
    font-size: 87.5%; // 1rem = 14px; 14px/16px = 87.5;
  }

  @include respond(tab-port) {
    font-size: 81.5%; // 1rem = 13px; 13px/16px = 81.5;
  }

  @include respond(phone) {
    font-size: 75%; // 1rem = 12px; 12px/16px = 75;
  }
}

body {
  box-sizing: border-box;
  padding: 4rem;

  @include respond(tab-port) {
    padding: 1rem;
    margin: 0 auto;
  }
}
