.u-margin-bottom-big {
  margin-bottom: 2.5rem;
  @include respond(tab-port) {
    margin-bottom: 2rem;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 1.5rem;

  @include respond(tab-port) {
    margin-bottom: 1rem;
  }
}
